body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 150px 0px 250px 0px;
}

section p {
  font-size: 18px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin: auto;
  max-width: 1920px;
}

header {
  background-color: #5F394F;
  height: 225px;
  position: relative;
  z-index: 999;
}

header .navbar {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
}

header .navbar .logo {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

header .navbar .logo img {
  width: 90%;
}

header .navbar .toggle-button {
  display: none;
}

@media (max-width: 965px) {
  header .navbar .toggle-button {
    display: block;
  }
  header .navbar .toggle-button img {
    width: 60px;
    margin-top: 30px;
  }
}

header .navbar .menu {
  background-color: #5F394F;
}

@media (max-width: 965px) {
  header .navbar .menu {
    display: none;
  }
  header .navbar .menu.active {
    display: block;
    width: 100%;
    height: 500px;
  }
}

header .navbar .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0px;
}

@media (max-width: 965px) {
  header .navbar .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
    width: 100%;
  }
}

header .navbar .menu ul li {
  display: block;
  padding: 40px;
}

header .navbar .menu ul li a {
  color: white;
}

header .navbar .menu ul li:hover {
  background-color: #FBE8EE;
}

@media (max-width: 965px) {
  header .navbar .menu ul li {
    width: 100%;
    text-align: center;
  }
}

.hero {
  height: 1200px;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

.hero .intro {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .intro h1 {
  color: white;
  font-size: 45px;
}

.hero .intro h2 {
  color: #FBE8EE;
  font-size: 30px;
  margin-top: -20px;
}

@media (max-width: 965px) {
  .hero .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 80px;
  }
  .hero .intro h1 {
    color: white;
    font-size: 30px;
  }
  .hero .intro h2 {
    color: #FBE8EE;
    font-size: 20px;
    margin-top: -20px;
  }
}

.hero .intro div, .hero .intro img {
  z-index: 2;
  position: relative;
  text-align: center;
}

.hero .intro img {
  width: 80%;
}

.hero .swiper-wrapper {
  position: absolute;
  top: 0;
}

.hero .swiper-wrapper .container {
  margin-top: 700px;
}

.hero .swiper-wrapper .container div {
  background-image: url("/images/Subtraction2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 202px;
}

.hero .swiper-wrapper .container div h1 {
  color: #5F394F;
  margin-left: 80px;
}

.hero .swiper-wrapper .container div p {
  color: #DD7A7D;
  padding-left: 10px;
  padding-right: 50px;
  margin-left: 70px;
}

.form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  -ms-grid-column: 12;
  -ms-grid-column-span: 4;
  grid-column: 12/16;
}

.form1 div {
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-size: 20px;
}

.form1 div:first-child {
  background-color: #FCAEC6;
  border-style: solid;
  border-width: 2px;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
}

.form1 div:nth-child(2) {
  background-color: #FBE8EE;
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 44px;
  border-style: solid;
  border-width: 2px;
}

.form1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form1 form .form-input {
  width: 260px;
  height: 40px;
  border-radius: 10px;
  border-style: solid;
  font-size: 18px;
  padding-left: 12px;
}

.form1 form .form-btn {
  background-color: #5F394F;
  color: white;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
}

.form1 form .form-btn:hover {
  color: white;
  background-color: #FCAEC6;
}

.welcome {
  z-index: 1;
  position: relative;
  background-image: url("/images/5.jpg");
  background-position: center;
  background-size: cover;
  height: 570px;
  color: white;
}

.welcome .container .welcomeinside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.welcome .container .welcomeinside div {
  width: 100%;
  text-align: center;
}

@media (max-width: 965px) {
  .welcome .container .welcomeinside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }
}

.welcome .container .welcomeinside h1 {
  color: #DD7A7D;
}

.welcome .container .welcomeinside p {
  color: #5F394F;
}

.welcome .container .form-btn {
  background-color: #5F394F;
  color: white;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
}

.welcome .container .form-btn:hover {
  color: white;
  background-color: #FCAEC6;
}

.services {
  position: relative;
  background-color: #FBE8EE;
}

@media (max-width: 965px) {
  .services {
    height: 100%;
  }
}

.services .container div:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  text-align: center;
}

.services .container div:first-child h1 {
  color: #DD7A7D;
  font-size: 36px;
}

@media (max-width: 965px) {
  .services .container div:first-child h1 span {
    display: block;
    margin-top: 40px;
  }
}

.services .container div:first-child h2 {
  color: #DD7A7D;
  font-size: 26px;
  font-weight: 500;
  margin-top: -20px;
}

.services .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}

@media (max-width:965px){
  .services .categories{

    flex-direction:column;
  }
}

.services .ourservices {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 965px) {
  .services .ourservices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services .ourservices .one-service {
  width: 470px;
  color: #DD7A7D;
}

@media (max-width: 965px) {
  .services .ourservices .one-service {
    width: 350px;
  }
}

.services .ourservices .one-service h3 {
  background-color: white;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
  text-align: left;
}

.services .ourservices .one-service p {
  background-color: white;
  padding: 30px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  text-align: left;
  height: 250px;
}

.services .ourservices .one-service img {
  margin-bottom: -5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  width: 466px;
}

@media (max-width: 965px) {
  .services .ourservices .one-service img {
    width: 350px;
  }
}

.services .ourservices .one-service .form-btn {
  color: #5F394F;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
}

@media (max-width: 965px) {
  .services .ourservices .one-service .form-btn {
    margin: auto;
  }
}

.services .ourservices .one-service .form-btn:hover {
  color: white;
  background-color: #FCAEC6;
}

.form-btn {
  color: #5F394F;
  padding: 10px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0);
}

@media (max-width: 965px) {
  .form-btn {
    margin: auto;
  }
}

.form-btn:hover {
  color: white;
  background-color: #FCAEC6;
}

.goods {
  background-image: url("/images/bbb.jpg");
  background-position: center;
  background-size: cover;
  padding: 0px 0px 260px 0px;
  height: 100%;
}

.goods .exp {
  margin-top: -272px;
  z-index: 0;
  -ms-grid-column: 6;
  -ms-grid-column-span: 11;
  grid-column: 6 / 17;
}

@media (max-width: 965px) {
  .goods .exp {
    -ms-grid-column: 1;
    -ms-grid-column-span: 16;
    grid-column: 1/17;
    margin-top: 10px;
  }
  .goods .exp img {
    width: 100%;
  }
}

.goods .container div:nth-child(2), .goods .container div:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  text-align: center;
}

footer {
  padding: 260px 0px 150px 0px;
  background-color: #5F394F;
}

footer .container .footerinfo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 965px) {
  footer .container .footerinfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
}

footer .container .footerinfo ul {
  list-style: none;
  line-height: 60px;
  font-size: 20px;
}

@media (max-width: 965px) {
  footer .container .footerinfo ul {
    font-size: 14px;
  }
}

footer .container .footerinfo ul li {
  position: relative;
}

footer .container .footerinfo ul li span {
  position: absolute;
  left: -40px;
  top: 6px;
}

footer .copyrights {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/17;
  color: white;
  text-align: center;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */